@font-face {
  font-family: 'Exo 2.0 Regular';
  src: url("../fonts/Exo20-Regular.eot");
  src: url("../fonts/Exo20-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Exo20-Regular.woff") format("woff"), url("../fonts/Exo20-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2.0 Medium';
  src: url("../fonts/Exo20-Medium.eot");
  src: url("../fonts/Exo20-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Exo20-Medium.woff") format("woff"), url("../fonts/Exo20-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2.0 Semibold';
  src: url("../fonts/Exo20-SemiBold.eot");
  src: url("../fonts/Exo20-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Exo20-SemiBold.woff") format("woff"), url("../fonts/Exo20-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2.0 Bold';
  src: url("../fonts/Exo20-Bold.eot");
  src: url("../fonts/Exo20-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Exo20-Bold.woff") format("woff"), url("../fonts/Exo20-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Exo 2.0 Regular', sans-serif;
  color: #2d3032;
  font-size: 16px;
}

input, button {
  outline: 0;
}

.button {
  display: block;
  height: 45px;
  border: none;
  border-radius: 20px;
  padding: 0 22px;
  color: #fff;
  font-family: 'Exo 2.0 Semibold', sans-serif;
  text-decoration: none;
  cursor: pointer;
  background-color: #edb72b;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #d39d12;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

@media (max-width: 575px) {
  .container {
    padding: 0 10px;
  }
}

svg {
  height: 100%;
  width: 60px;
  position: absolute;
  top: 0;
  left: 0;
}

.plate {
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.burger {
  -webkit-filter: url(#gooeyness);
          filter: url(#gooeyness);
}

.x {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.line {
  fill: none;
  stroke: #2d3032;
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-linejoin: round;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, -webkit-transform 500ms 200ms;
  transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, -webkit-transform 500ms 200ms;
  transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, transform 500ms 200ms;
  transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, transform 500ms 200ms, -webkit-transform 500ms 200ms;
}

.x .line {
  stroke-width: 4px;
}

/* First plate */
.plate1 .line2 {
  stroke-dasharray: 40 200;
  stroke-dashoffset: 0px;
}

.plate1 .line3 {
  stroke-dasharray: 40 179;
  stroke-dashoffset: 0px;
}

.active {
  background-color: #2d3032;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.active .line {
  stroke: #fff;
  -webkit-transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, -webkit-transform 500ms;
  transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, -webkit-transform 500ms;
  transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, transform 500ms;
  transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, transform 500ms, -webkit-transform 500ms;
}

.active.plate1 .line1 {
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform 500ms 100ms;
  transition: -webkit-transform 500ms 100ms;
  transition: transform 500ms 100ms;
  transition: transform 500ms 100ms, -webkit-transform 500ms 100ms;
}

.active.plate1 .line2 {
  stroke-dasharray: 5px 200;
  stroke-dashoffset: -164px;
}

.active.plate1 .line3 {
  stroke-dasharray: 5px 179;
  stroke-dashoffset: -142px;
}

.active .x {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 400ms 350ms;
  transition: -webkit-transform 400ms 350ms;
  transition: transform 400ms 350ms;
  transition: transform 400ms 350ms, -webkit-transform 400ms 350ms;
}

@media (max-width: 575px) {
  svg {
    width: 50px;
  }
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.topbar {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #2d3032;
}

.topbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style-type: none;
  font-size: 0;
  padding-left: 0;
}

.topbar__menu-item {
  display: block;
  margin-right: 30px;
}

.topbar__menu-item a {
  text-decoration: none;
  color: #e6e6e6;
  font-size: 14px;
  font-family: 'Exo 2.0 Regular', sans-serif;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.topbar__menu-item:hover a {
  color: #edb72b;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.topbar__feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topbar__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  line-height: 1.1;
  font-family: 'Exo 2.0 Regular', sans-serif;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.topbar__mail:hover .topbar__mail-icon, .topbar__mail:hover .topbar__email {
  color: #edb72b;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.topbar__mail-icon {
  color: #fff;
  margin-right: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.topbar__email {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.topbar__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.topbar__social-icon {
  margin-left: 20px;
}

.topbar__social-icon a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.topbar__social-icon a:hover {
  color: #edb72b;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.15);
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__logo {
  text-decoration: none;
  color: #2d3032;
}

.navbar__logo-img {
  width: 180px;
  height: auto;
}

.navbar__logo-description {
  display: block;
  font-family: 'Exo 2.0 Semibold', sans-serif;
  font-size: 12px;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
  font-size: 0;
  padding-left: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 2%;
  margin-left: 2%;
}

.navbar__menu-item {
  display: block;
}

.navbar__menu-item a {
  text-decoration: none;
  color: #2d3032;
  font-size: 16px;
  font-family: 'Exo 2.0 Semibold', sans-serif;
  border-bottom: 1px solid #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar__menu-item:hover a {
  color: #edb72b;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-bottom: 1px solid #edb72b;
}

.navbar__mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2%;
}

.navbar__mobile-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45px;
  height: 45px;
  background-color: #f7f7f8;
  border-radius: 25px;
  margin-right: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar__mobile-icon:hover {
  background-color: #edb72b;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar__mobile-icon:hover .fas {
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar__mobile-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar__mobile-phone {
  display: block;
  text-decoration: none;
  color: #2d3032;
  font-size: 18px;
  line-height: 1.3;
  font-family: 'Exo 2.0 Bold', sans-serif;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar__mobile-phone:hover {
  color: #edb72b;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar__button-mobile, .navbar__menu-button {
  display: none;
}

.navbar__nav {
  display: none;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  border-top: 1px #e0e2e4 solid;
  background-color: #fff;
  z-index: 10;
}

.navbar__nav-mobile {
  list-style-type: none;
  font-size: 0;
  padding: 20px 0;
}

.navbar__nav-item {
  display: block;
  color: #fff;
  font-size: 18px;
  line-height: 42px;
  font-family: 'Exo 2.0 Semibold', sans-serif;
  text-align: center;
}

.navbar__nav-item a {
  display: block;
  text-decoration: none;
  color: #2d3032;
  height: 100%;
}

.navbar__button-nav {
  width: 100%;
  border-radius: 0;
  height: 60px;
  font-size: 20px;
}

@media (max-width: 991px) {
  .topbar__menu-item {
    margin-right: 20px;
  }
  .topbar__mail {
    margin-right: 0;
  }
  .navbar {
    padding: 0;
  }
  .navbar-wrap {
    height: 60px;
  }
  .navbar__logo-img {
    width: 140px;
  }
  .navbar__menu {
    display: none;
  }
  .navbar__mobile {
    margin-right: 3%;
    margin-left: auto;
  }
  .navbar__mobile-phone {
    font-size: 16px;
  }
  .navbar__button {
    height: 100%;
    border-radius: 0;
  }
  .navbar__menu-button {
    display: block;
    position: relative;
    width: 60px;
    height: 100%;
    background-color: #fff;
    text-decoration: none;
    padding: 0;
    border: none;
  }
}

@media (max-width: 767px) {
  .topbar {
    display: none;
  }
  .navbar__mobile-icon {
    display: none;
  }
  .navbar__button {
    display: none;
  }
  .navbar__button-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #edb72b;
    color: #fff;
    text-decoration: none;
    width: 60px;
    height: 100%;
  }
}

@media (max-width: 575px) {
  .navbar-wrap {
    height: 50px;
  }
  .navbar .container {
    padding-right: 0;
  }
  .navbar__mobile-wrap {
    display: none;
  }
  .navbar__menu-button, .navbar__button-mobile {
    width: 50px;
  }
  .navbar__logo-img {
    width: 110px;
  }
  .navbar__logo-description {
    font-size: 10px;
    line-height: 1;
  }
  .navbar__nav-item {
    font-size: 16px;
    line-height: 32px;
    font-family: 'Exo 2.0 Semibold', sans-serif;
    text-align: center;
  }
  .navbar__button-nav {
    height: 60px;
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */