$transition-all: all .3s ease

body
 +regular
 color: $text-color
 font-size: 16px

input, button
  outline: 0

a
  text-decoration: none
  color: $text-color

button
  display: block
  border: none
  text-decoration: none
  padding: 0 22px
  border-radius: 20px
  cursor: pointer
  transition: $transition-all


.section
  width: 100%
  padding: 60px 0
  &-title
    font-size: 32px
    +semibold
  &__title
    margin-bottom: 60px

h1, h2
  margin: 0

.button
  height: 45px
  color: #fff
  +semibold
  background-color: $color-el
  &:hover
    background-color: darken($color-el, 10%)
    transition: $transition-all

.catalog-button
  display: block
  width: 100%
  height: 65px
  border: 1px lighten($text-color, 60%) solid
  border-radius: 5px
  padding: 18px 0
  background-color: transparent
  font-size: 18px
  text-align: center
  +semibold
  transition: $transition-all
  &:hover
    background-color: #f2f2f2
    transition: $transition-all

.slick-slide
  &:focus
    outline: none
.slick-list, .slick-track
  height: 100%

@media (max-width: 991px)
  .section
    padding: 40px 0
    &-title
      font-size: 28px
      +semibold
    &__title
      margin-bottom: 40px

@media (max-width: 767px)
  .section
    &-title
      font-size: 26px
  .catalog-button
    height: 55px
    padding: 14px 0