$transition-all: all .3s ease

body
 +regular
 color: $text-color
 font-size: 16px

input, button
  outline: 0

.section
  width: 100%
  padding: 60px 0
  &-title
    font-size: 32px
    +semibold
  &__title
    margin-bottom: 60px

h1, h2
  margin: 0

.button
  display: block
  height: 45px
  border: none
  border-radius: 20px
  padding: 0 22px
  color: #fff
  +semibold
  text-decoration: none
  cursor: pointer
  background-color: $color-el
  transition: $transition-all
  &:hover
    background-color: darken($color-el, 10%)
    transition: $transition-all

.slick-slide
  &:focus
    outline: none
.slick-list, .slick-track
  height: 100%