@font-face {
  font-family: 'Exo 2.0 Regular';
  font-display: swap;
  src: url('../fonts/Exo20-Regular.eot');
  src: url('../fonts/Exo20-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Exo20-Regular.woff') format('woff'),
  url('../fonts/Exo20-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2.0 Medium';
  font-display: swap;
  src: url('../fonts/Exo20-Medium.eot');
  src: url('../fonts/Exo20-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Exo20-Medium.woff') format('woff'),
  url('../fonts/Exo20-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2.0 Semibold';
  font-display: swap;
  src: url('../fonts/Exo20-SemiBold.eot');
  src: url('../fonts/Exo20-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Exo20-SemiBold.woff') format('woff'),
  url('../fonts/Exo20-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2.0 Bold';
  font-display: swap;
  src: url('../fonts/Exo20-Bold.eot');
  src: url('../fonts/Exo20-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Exo20-Bold.woff') format('woff'),
  url('../fonts/Exo20-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@mixin regular {
  font-family: 'Exo 2.0 Regular', sans-serif;
}

@mixin medium {
  font-family: 'Exo 2.0 Medium', sans-serif;
}

@mixin semibold {
  font-family: 'Exo 2.0 Semibold', sans-serif;
}

@mixin bold {
  font-family: 'Exo 2.0 Bold', sans-serif;
}